DB_URL=jdbc:postgresql://localhost:5432/movieflex
DB_USERNAME=postgres
DB_PASSWORD=password

JWT_SECRET_KEY=replace-with-your-own-base64-secret
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=10